.banner {
    max-width: 1240px;
    height: 223px;
    position: relative;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    width: 100%;

    @media screen and (max-width: 767px) {
        height: 111px;
        margin-bottom: 10px;
        display: flex;
        justify-content: center;
    }

    &__img {
        position: absolute;
        object-fit: cover;
        border-radius: 25px;
        height: 100%;
        width: 100%;
        filter: brightness(70%);

        @media screen and (max-width: 1023px) {
            border-radius: 10px;
            width: 95%;
        }

        @media screen and (max-width: 1290px) {
            width: 95%;
        }
    }

    &__text {
        position: absolute;
        font-size: 48px;
        font-weight: 500;
        color: $primaryColor;

        @media screen and (max-width: 767px) {
            font-size: 24px;
            width: 217px;
            margin-left: 20px;
            left: 20px;
        }
    }
}