.gallery {
    max-width: 1240px;
    background-color: $quaternaryColor;
    margin: auto;
    border-radius: 25px;
    margin-bottom: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    width: 95%;

    @media screen and (max-width: 884px) {
        background-color: $primaryColor;
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        padding: 10px;
    }

    @media screen and (min-width: 768px) and (max-width: 1023px) {
        width: 95%;
    }
}