.header {
    width: 1240px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 50px;
}

.nav-header {
    width: 25%;
    display: flex;
    text-align: end;
    align-items: center;

    &__nav-link-home, &__nav-link-about {
        width: 50%;
        color: $secondaryColor;
        font-size: 24px;
        font-weight: 500;
        text-decoration: none;
    }
}