.slideshow {
    height: 415px;
    position: relative;
    margin-bottom: 25px;
    margin: 15px;

    @media screen and (max-width: 1023px) {
        height: 255px;
    }

    &__arrow-left {
        position: absolute;
        z-index: 10;
        left: 20px;
        font-size: 100px;
        top: 40%;
        color: $primaryColor;

        @media screen and (max-width: 1023px) {
            font-size: 50px;
        }
    }

    &__arrow-right {
        position: absolute;
        z-index: 10;
        right: 20px;
        font-size: 100px;
        top: 40%;
        color: $primaryColor;

        @media screen and (max-width: 1023px) {
            font-size: 50px;
        }
    }

    &__img {
        position: relative;
        width: 100%;
        height: 415px;
        object-fit: cover;
        border-radius: 25px;

        @media screen and (max-width: 1023px) {
            height: 255px;
        }
    }

    &__number {
        position: absolute;
        right: 50%;
        bottom: 20px;
        color: $primaryColor;
    }
}

.photo-proprio {
    width: 64px;
    height: 64px;
    border-radius: 50%;

    @media screen and (max-width: 1023px) {
        width: 32px;
        height: 32px;
    }
}

.nom-proprio {
    color: $secondaryColor;
    width: 93px;
    height: 52px;
    font-size: 18px;
    font-weight: 500;

    @media screen and (max-width: 1023px) {
        font-size: 12px;
    }
}

.score-etoile {
    
    &__red {
        color: $secondaryColor;
        font-size: 25px;
        padding-left: 15px;

        @media screen and (max-width: 1023px) {
            font-size: 12px;
        }
    }
    &__grey {
        color: $greystar;
        font-size: 25px;
        padding-left: 15px;

        @media screen and (max-width: 1023px) {
            font-size: 12px;
        }
    }
}

.tag-container {
    margin-top: 15px;


    &__button {
        padding: 5px 30px 5px 30px;
        border-radius: 15px;
        background-color: $secondaryColor;
        color: $primaryColor;
        margin-right: 15px;
        font-size: 14px;

        @media screen and (max-width: 1023px) {
            font-size: 10px;
        }
    }
}

.logement-page {
    max-width: 1240px;
    margin: auto;
    
    &__misenplace {
        margin: 15px;
        display: flex;
        justify-content: space-between;

        @media screen and (max-width: 1023px) {
            display: block;
        }
    }

    &__localProprio {
        
        align-items: center;
        margin-bottom: 10px;
    }

    
    &__tagRating {  
        margin-bottom: 40px;  
        align-items: center;

        @media screen and (max-width: 1023px) {
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
        }
    }

    &__tag {
        display: flex;
        flex-wrap: wrap;
    }

   

    &__collapse {
        margin: 15px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;

        @media screen and (max-width: 1023px) {
            display: block;
        }

        &__description {
            width: 45%;

            @media screen and (max-width: 1023px) {
                width: 100%;
            }
        }
        &__equipements {
            width: 45%;

            @media screen and (max-width: 1023px) {
                width: 100%;
            }
        }
    }
}

.location-title {
    font-size: 36px;
    color: $secondaryColor;
    margin: 0;
    margin-bottom: 10px;

    @media screen and (max-width: 1023px) {
        font-size: 18px;
    }
}

.location-ville {
    font-size: 18px;
    color: $secondaryColor;
    margin: 0;
    margin-bottom: 10px;

    @media screen and (max-width: 1023px) {
        font-size: 14px;
    }
}
