@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
html {
  margin: auto;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat";
  box-sizing: border-box;
  max-width: 1440px;
}

body {
  margin: auto;
}

.banner {
  max-width: 1240px;
  height: 223px;
  position: relative;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  width: 100%;
}
@media screen and (max-width: 767px) {
  .banner {
    height: 111px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
  }
}
.banner__img {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 25px;
  height: 100%;
  width: 100%;
  filter: brightness(70%);
}
@media screen and (max-width: 1023px) {
  .banner__img {
    border-radius: 10px;
    width: 95%;
  }
}
@media screen and (max-width: 1290px) {
  .banner__img {
    width: 95%;
  }
}
.banner__text {
  position: absolute;
  font-size: 48px;
  font-weight: 500;
  color: #fff;
}
@media screen and (max-width: 767px) {
  .banner__text {
    font-size: 24px;
    width: 217px;
    margin-left: 20px;
    left: 20px;
  }
}

.header {
  margin: auto;
  max-width: 1240px;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 50px;
  padding: 20px;
}
@media screen and (max-width: 767px) {
  .header {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 1023px) {
  .header__logo img {
    width: 145px;
  }
}

.nav-header {
  width: 25%;
  display: flex;
  text-align: end;
  align-items: center;
}
@media screen and (max-width: 1023px) {
  .nav-header {
    width: 50%;
    text-align: center;
  }
}
.nav-header__nav-link-home, .nav-header__nav-link-about {
  width: 50%;
  color: rgb(255, 96, 96);
  font-size: 24px;
  font-weight: 500;
  text-decoration: none;
}
@media screen and (max-width: 767px) {
  .nav-header__nav-link-home, .nav-header__nav-link-about {
    font-size: 12px;
    text-transform: uppercase;
  }
}

.NavLink:visited {
  text-decoration: underline;
}

.footer {
  height: 209px;
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__blacklogo {
  width: 122px;
  padding-top: 60px;
  padding-bottom: 30px;
}
.footer__copyright {
  color: #fff;
  font-size: 24px;
  font-weight: 500;
}
@media screen and (max-width: 767px) {
  .footer__copyright {
    font-size: 12px;
    width: 133px;
    height: 46px;
  }
}

.gallery {
  max-width: 1240px;
  background-color: rgb(246, 246, 246);
  margin: auto;
  border-radius: 25px;
  margin-bottom: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  width: 95%;
}
@media screen and (max-width: 884px) {
  .gallery {
    background-color: #fff;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    padding: 10px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .gallery {
    width: 95%;
  }
}

.card {
  width: 340px;
  height: 340px;
  border-radius: 10px;
  position: relative;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  margin: 30px;
}
@media screen and (max-width: 767px) {
  .card {
    width: 100%;
    height: 255px;
    -o-object-fit: cover;
       object-fit: cover;
    margin: 0;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 884px) {
  .card {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    margin: 0;
    margin-bottom: 30px;
    height: 340px;
  }
}
.card__img {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 10px;
}
@media screen and (max-width: 767px) {
  .card__img {
    -o-object-fit: cover;
       object-fit: cover;
  }
}
.card__layer {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background: linear-gradient(rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.5) 100%);
}
.card__title {
  position: absolute;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  bottom: 10px;
  left: 20px;
}

.collapse {
  display: flex;
  max-width: 1023px;
  margin: auto;
}
.collapse__dropdown {
  width: 100%;
  padding-bottom: 50px;
}
@media screen and (max-width: 1050px) {
  .collapse__dropdown {
    padding-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
  }
}
.collapse__dropdown__container {
  background-color: rgb(246, 246, 246);
  margin-bottom: 20px;
  border-radius: 5px;
}
.collapse__dropdown__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(255, 96, 96);
  border-radius: 5px;
}
.collapse__dropdown__title h2 {
  color: #fff;
  padding-left: 15px;
  font-size: 24px;
  font-weight: 500;
  padding: 15px;
}
@media screen and (max-width: 1023px) {
  .collapse__dropdown__title h2 {
    font-size: 13px;
  }
}
.collapse__dropdown__title p {
  color: #fff;
  padding-right: 15px;
  display: flex;
}
.collapse__dropdown__content {
  display: flex;
  color: rgb(255, 96, 96);
  font-size: 18px;
  animation: progress-collapse 5000ms;
}
.collapse__dropdown__content p {
  padding-left: 15px;
  padding-bottom: 15px;
}
@media screen and (max-width: 1023px) {
  .collapse__dropdown__content p {
    font-size: 13px;
  }
}
.collapse__dropdown__content p ul {
  list-style-type: none;
  margin: 0;
  margin-bottom: 5px;
  padding: 0;
  padding-left: 10px;
}
@media screen and (max-width: 1023px) {
  .collapse__dropdown__content p ul {
    font-size: 13px;
  }
}

@keyframes progress-collapse {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(1);
  }
}
.errorContainer {
  text-align: center;
  margin-bottom: 100px;
}
.errorContainer__number {
  font-size: 288px;
  font-weight: 700;
  color: rgb(255, 96, 96);
  margin: 100px;
}
@media screen and (max-width: 768px) {
  .errorContainer__number {
    font-size: 96px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .errorContainer__number {
    font-size: 150px;
  }
}
.errorContainer__text {
  font-size: 36px;
  font-weight: 500;
  color: rgb(255, 96, 96);
  margin-bottom: 100px;
}
@media screen and (max-width: 768px) {
  .errorContainer__text {
    font-size: 18px;
    margin: 20px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .errorContainer__text {
    font-size: 23px;
  }
}
.errorContainer__linkError {
  font-size: 18px;
  font-weight: 500;
  color: rgb(255, 96, 96);
}
@media screen and (max-width: 768px) {
  .errorContainer__linkError {
    font-size: 14px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .errorContainer__linkError {
    font-size: 16px;
  }
}

.slideshow {
  height: 415px;
  position: relative;
  margin-bottom: 25px;
  margin: 15px;
}
@media screen and (max-width: 1023px) {
  .slideshow {
    height: 255px;
  }
}
.slideshow__arrow-left {
  position: absolute;
  z-index: 10;
  left: 20px;
  font-size: 100px;
  top: 40%;
  color: #fff;
}
@media screen and (max-width: 1023px) {
  .slideshow__arrow-left {
    font-size: 50px;
  }
}
.slideshow__arrow-right {
  position: absolute;
  z-index: 10;
  right: 20px;
  font-size: 100px;
  top: 40%;
  color: #fff;
}
@media screen and (max-width: 1023px) {
  .slideshow__arrow-right {
    font-size: 50px;
  }
}
.slideshow__img {
  position: relative;
  width: 100%;
  height: 415px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 25px;
}
@media screen and (max-width: 1023px) {
  .slideshow__img {
    height: 255px;
  }
}
.slideshow__number {
  position: absolute;
  right: 50%;
  bottom: 20px;
  color: #fff;
}

.photo-proprio {
  width: 64px;
  height: 64px;
  border-radius: 50%;
}
@media screen and (max-width: 1023px) {
  .photo-proprio {
    width: 32px;
    height: 32px;
  }
}

.nom-proprio {
  color: rgb(255, 96, 96);
  width: 93px;
  height: 52px;
  font-size: 18px;
  font-weight: 500;
}
@media screen and (max-width: 1023px) {
  .nom-proprio {
    font-size: 12px;
  }
}

.score-etoile__red {
  color: rgb(255, 96, 96);
  font-size: 25px;
  padding-left: 15px;
}
@media screen and (max-width: 1023px) {
  .score-etoile__red {
    font-size: 12px;
  }
}
.score-etoile__grey {
  color: rgb(227, 227, 227);
  font-size: 25px;
  padding-left: 15px;
}
@media screen and (max-width: 1023px) {
  .score-etoile__grey {
    font-size: 12px;
  }
}

.tag-container {
  margin-top: 15px;
}
.tag-container__button {
  padding: 5px 30px 5px 30px;
  border-radius: 15px;
  background-color: rgb(255, 96, 96);
  color: #fff;
  margin-right: 15px;
  font-size: 14px;
}
@media screen and (max-width: 1023px) {
  .tag-container__button {
    font-size: 10px;
  }
}

.logement-page {
  max-width: 1240px;
  margin: auto;
}
.logement-page__misenplace {
  margin: 15px;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 1023px) {
  .logement-page__misenplace {
    display: block;
  }
}
.logement-page__localProprio {
  align-items: center;
  margin-bottom: 10px;
}
.logement-page__tagRating {
  margin-bottom: 40px;
  align-items: center;
}
@media screen and (max-width: 1023px) {
  .logement-page__tagRating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}
.logement-page__tag {
  display: flex;
  flex-wrap: wrap;
}
.logement-page__collapse {
  margin: 15px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
@media screen and (max-width: 1023px) {
  .logement-page__collapse {
    display: block;
  }
}
.logement-page__collapse__description {
  width: 45%;
}
@media screen and (max-width: 1023px) {
  .logement-page__collapse__description {
    width: 100%;
  }
}
.logement-page__collapse__equipements {
  width: 45%;
}
@media screen and (max-width: 1023px) {
  .logement-page__collapse__equipements {
    width: 100%;
  }
}

.location-title {
  font-size: 36px;
  color: rgb(255, 96, 96);
  margin: 0;
  margin-bottom: 10px;
}
@media screen and (max-width: 1023px) {
  .location-title {
    font-size: 18px;
  }
}

.location-ville {
  font-size: 18px;
  color: rgb(255, 96, 96);
  margin: 0;
  margin-bottom: 10px;
}
@media screen and (max-width: 1023px) {
  .location-ville {
    font-size: 14px;
  }
}/*# sourceMappingURL=main.css.map */